.listing {
  &-carousel {
    margin-top: 100px;
    position: relative;

    &-image {
      width: 100%;
      height: 415px;
      border-radius: 25px;
      object-fit: cover;
    }

    &-counter {
      position: absolute;
      top: 355px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: rgba(0,0,0,0.3);
      padding: 20px;
      border-radius: 10px;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &_left {
        left: 50px;
      }

      &_right {
        right: 0;
      }
    }
  }
}
