//Fonts
$font-primary: 'Montserrat', sans-serif;

//Responsive design breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet-min: 376px;
$breakpoint-tablet-max: 1439px;
$breakpoint-desktop: 1440px;

//Corporate colours
$colour-font-primary: #FF6060;
$colour-background-primary: #FF6060;
$colour-font-footer: white;
$colour-background-footer: black;

//Background colours
$colour-lighter-gray: #F6F6F6;
$colour-darker-gray: #C4C4C4;