.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: $colour-background-footer;
  height: 200px;
  margin-top: 40px;

  &-image {
    height: 40px;
    margin-bottom: 20px;
  }

  &-copyright {
    font-weight: 500;
    font-size: 24px;
    color: $colour-font-footer;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .footer {
    height: 200px;
    margin: 20px -20px -20px -20px;

    &-image {
      height: 30px;
      margin-bottom: 10px;
    }

    &-copyright {
      font-size: 12px;
      margin-bottom: 70px;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  .footer {
    height: 200px;
    margin: 20px -40px -40px -40px;

    &-image {
      margin-bottom: 10px;
    }

    &-copyright {
      font-size: 18px;
      margin-bottom: 60px;
    }
  }
}